<div>
    <button class="btn" onclick='window.location="/"'>HOME</button>
    <h3 id="itemID">{{{result._id}}}</h3>
    <h2 id="heading">
        Update Item {{{result.title}}}
    </h2>
    <h2 id="success">
        Changes Saved
    </h2>
    <form action="POST" id="updateForm">
        <div>
        <label for="titleIP">Title</label>
        <input type="text" name="titleIP" id="titleIP" placeholder="{{{result.title}}}"></input>
        </div>

        <div>
        <label for="descIP">Description</label>
        <textarea name="descIP" id="descIP" cols="40" rows="10" placeholder="{{{result.description}}}"></textarea>
        </div>

        <div>
        <label for="costIP">Cost</label>
        <input type="number" step="0.01" min="0" name="costIP" id="costIP" placeholder="{{{result.cost}}}"></input>
        </div>

        <div>
        <label for="stockIP">Stock</label>
        <input type="number" min="1" name="stockIP" id="stockIP" placeholder="{{{result.stock}}}"></input>
        </div>

        <div>
        <label for="weightIP">Weight</label>
        <input type="number" step="0.01" min="0" name="weightIP" id="weightIP" placeholder="{{{result.weight}}}"></input>
        </div>

        <button class="btn" id="update">Update</button>
    </form>

    <div class="error">
        <div id="errorlabel" class="errorLabel"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="/public/js/updateItem.js"></script>
</div>